/dist/
/logs/
/nano/
node_modules/
/user/

/static/css/heri/index.css
/static/css/heri/index.css.map
/static/css/nw/
/static/js/heri/index.min.js
/static/js/nw/
/static/js/bootstrap.bundle.min.js
/static/nwe/
/static/robots.txt
/static/search.json
/static/search.txt
/static/sitemap.xml
/static/sitemaps/
/static/translation.*.json